<div class="controllerContainer">
    <div class="widgetBox controllerBox" data-dojo-attach-point="controllerBoxNode">
        <div class="controllerIcon"></div>
        <div class="controllerTitleBox">
            <div class="controllerTitle">&nbsp</div>
            <table style="font-size: smaller; width: 100%">
                <tr>
                    <td class="controllerSubtitle">&nbsp;</td>
                    <td class="controllerStatus" align="right">&nbsp;</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="controllerMenuBox" data-dojo-attach-point="containerNode">
    </div>
</div>