* {
    margin: 0;
    padding: 0;
}

body, html {
    border: none;
    margin: 0;
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
    position: relative;
}

#mouse-position {
    float: left;
    position: absolute;
    margin-top: 0;
    width: 200px;
    height: 20px;
    z-index: 2;
}

.btn-toolbar {
    position: absolute;
    bottom: 50px;
    z-index: 1;
}

.col {
    padding: 0;
}

.custom-mouse-position {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: "微软雅黑";
}

.layerControl {
    position: absolute;
    min-width: 200px;
    max-height: 200px;
    bottom: 5px;
    right: 0px;
    top: 5px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: black;
    z-index: 2;
}

.layerControl.title {
    font-weight: bold;
    font-size: 15px;
    margin: 10px;
}

.layerTree li {
    list-style: none;
    margin: 5px 10px;
}

.functionGroup {
    position: absolute;
    margin: 5px auto auto 40px;
    min-height: 300px;
    /*background-color: white;*/
    z-index: 2;
}

/*pop弹出窗口*/
.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 5px 4px rgba(255, 0, 0, 0.7));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 45px;
    left: -50px;
    z-index: 3;
    height: 300px;
    width: 300px;
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "✖";
}

#popup-content {
    font-size: 14px;
    font-family: "微软雅黑";
}

#popup-button {
    position: relative;
    background-color: black;
    margin: 2px auto 2px auto;
}

#popup-content .markerInfo {
    font-weight: bold;
}