<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/asster/css/bootstrap.css">
</head>

<body>
    <div class="btn-group-vertical" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-primary">Left</button>
        <button type="button" class="btn btn-primary">Middle</button>
        <button type="button" class="btn btn-primary">Right</button>
    </div>
    <script src="/static/asster/js/jquery.js"></script>
    <script src="/static/asster/js/bootstrap.bundle.min.js"></script>
</body>

</html> -->


<button id="btn_zonglan" class="nav-link " style="text-align: left; border: none;width: 100%;background-color: #f8f8fa">
    <span data-feather="users"></span>
    总览</button>
</li>
<li class="nav-item">
<button class="nav-link " id="btn_chunqiuxijin" style="text-align: left; border: none;width: 100%;background-color: #f8f8fa">
    <span data-feather="users"></span>
    春秋-西晋</button>
</li>
<li class="nav-item ">
<button class="nav-link"  id="btn_liusong"  style="text-align: left; border: none;width: 100%;background-color: #f8f8fa">
    <span data-feather="users"></span>
    刘宋
</button>
</li>
<li class="nav-item " >
<button class="nav-link" id="btn_dongwei" style=" text-align: left; border: none;width: 100%;background-color: #f8f8fa">
    <span data-feather="users"></span>
    东魏
</button>
</li>
<li class="nav-item " >
<button class="nav-link" id="btn_sui" style="text-align: left; border: none;width: 100%;background-color: #f8f8fa">
    <span data-feather="users"></span>
    隋朝
</button>
</li>
<li class="nav-item " >
<button class="nav-link"  id="btn_tang" style="text-align: left; border: none;width: 100%;background-color: #f8f8fa">
    <span data-feather="users"></span>
    唐朝
</button>
</li>
<li class="nav-item " >
<button class="nav-link" id="btn_beisong" style="text-align: left; border: none;width: 100%;background-color: #f8f8fa">
    <span data-feather="users"></span>
    北宋
</button>
</li>
<li class="nav-item ">
<button class="nav-link" id="btn_jin" style="text-align: left; border: none;width: 100%;background-color: #f8f8fa">
    <span data-feather="users"></span>
    金朝
</button>
</li>
<li class="nav-item ">
<button class="nav-link"  id="btn_yuan" style="text-align: left; border: none;width: 100%;background-color: #f8f8fa">
    <span data-feather="users"></span>
    元朝
</button>
</li>
<li class="nav-item ">
<button class="nav-link"  id="btn_ming" style="text-align: left; border: none;width: 100%;background-color: #f8f8fa">
    <span data-feather="users"></span>
    明朝
</button>
</li>
<li class="nav-item " >
<button class="nav-link" id="btn_qing"style="text-align: left; border: none;width: 100%;background-color: #f8f8fa">
    <span data-feather="users"></span>
    清朝
</button>
</li>
</ul>