#canvas{
    border: 1px;
    top: 0px;
    left: 0px;
}
#touxiang{
    position: absolute; 
    left: 1375px;
    top:150px;
}
#name{
    position: absolute; 
    left: 1460px;
    top:370px;
    font-size: 20px;
    width: 50px;
}
#signature{
    position: absolute; 
    left: 1345px;
    top:400px;
    font-size: 16px;
    width: 300px;
}
#map{
    position: absolute; 
    left: 1320px;
    top:500px;
    width:350px;
    height:350px;
    border:#ccc solid 1px;
    font-size:12px
}
#introduction{
    position: absolute; 
    left: 100px;
    top:150px;
    width: 1150px;
}
p{
    font-size: 23px;
    /* line-height: 10px; */
    font-family: 隶书;
}
#lianjie{
    text-decoration: none;
    color: cornflowerblue;
}
html{
    overflow-x: hidden;
    overflow-y: hidden;
}