<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>山东历史信息系统</title>

    <link rel="stylesheet" href="/static/asster/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/asster/css/ol.css">
    <link rel="stylesheet" href="/static/asster/css/base_css.css">
    <script src="/static/asster/js/jquery.js"></script>
    <link rel="stylesheet" href="/static/asster/css/jquery.range.css">
    <script src="/static/asster/js/ol.js"></script>
    <style>
        .time_slider {
            margin-top: 550px;
            width: 80%;
            margin-left: 200px;
            border-radius: 10px;
            border: 1px solid #cccccc;
            position: absolute;
            z-index: 999;
        }
        .tool{
            overflow: auto;
            margin-top: 270px;
            margin-left: 1350px;
            border-radius: 10px;
            border: 1px solid #cccccc;
            position: absolute;
            z-index: 999;
        }
    </style>
</head>
<body onload="init()">
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand">Navbar</a>
                    <div class="nav-item float-right" style="padding: 0;">
                        <input id="search_name" type="text" autocomplete="off" style="height: 40px">
                        <button id="search_btn" class="btn btn-outline-success" data-bs-toggle="modal"
                                data-bs-target="#exampleModal1" data-bs-dismiss="modal"
                                style="height:40px;margin-bottom: 7px">Search
                        </button>
                    </div>
                </div>
            </nav>
        </div>
    </div>

</div>
<div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">根据姓名查询人物</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label>姓名：</label> <input type="text" autocomplete="off" id="search_name">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#exampleModal1" data-bs-dismiss="modal" id="search_btn">查询
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col">
                <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div id="remind_message" class="alert alert-success" role="alert"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="close_btn" class="btn btn-secondary" data-bs-dismiss="modal">
                                    关闭
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div id="mouse-position"></div>
            </div>
        </div>
    </div>
</div> <!-- 查询模态框-->

<div id="map" style="height: 91%">
    <div id="layerControl" class="layerControl">
        <div class="title"><label style="font-weight: bold">图层列表</label></div>
        <ul id="layerTree" class="layerTree"></ul>
    </div>
    <div id="popup" class="ol-popup">
        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content"></div>
        <div id="popup-button"></div>
    </div>
    <div class="demo-output time_slider">
    <p id="txt" style="text-align: center;  font-size:larger;
  font-family: 华文行楷;
   font-weight:bold;">
    </p>
    <input class="single-slider" style="text-align: center;" type="range" value="1.0"/>
</div>  <!-- 时间滑块-->

<div class="tool">

                <button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseExample"
                        aria-expanded="false" aria-controls="collapseExample">
                    获取元素类型
                </button>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <select id="select_type" class="form-control btn-secondary">
                            <option value="none" selected>None</option>
                            <option value="click">Click</option>
                            <option value="hover">Hover</option>
                        </select>
                        <div id="status" class="secondary"></div>
                    </div>
                </div>
    <br>
                <button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseExample1"
                        aria-expanded="false" aria-controls="collapseExample">
                    设置聚合半径
                </button>
                <div class="collapse" id="collapseExample1">
                    <div class="card card-body secondary">
                        <form>
                            <label for="clusher_distance">聚合半径(0-100)</label>
                            <div id="clusher_distance_value">40</div>
                            <input id="clusher_distance" type="range" min="0" max="100" step="1" value="40"/>
                        </form>
                    </div>
                </div>
</div>   <!-- 一些工具-->


</div>
<!-- 地图-->



<script src="/static/asster/js/jquery.range.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.single-slider').jRange({
            from: 1,
            to: 24,
            step: 0.1,
            scale: ["春秋", "战国", "秦", "西汉", "东汉", "曹魏", "西晋", "东晋", "刘宋", "北魏", "东魏", "北齐", "隋代", "唐", "后梁", "后唐", "后晋", "后汉", "后周", "北宋", "金", "元代", "明", "清代"],
            width: 1200,
            showLabels: false,
            snap: true,
            onstatechange: function () {//数字变化的时候的回调函数
                {#alert($('.single-slider').val());#}
                oSpanNum = $('.single-slider').val();
                changelayer();
            },
        })
    });
    var peoples = eval({{coor|tojson }});//所有人信息
    var re_name={{name|tojson }};


</script>
<script src="/static/asster/js/re_base.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
<script src="/static/asster/js/RangeSlider.js"></script>
<script src="/static/asster/js/jquery.range-min.js"></script>



</body>