html, body, #mainwindow { height: 100%; width: 100%; margin: 0; padding: 0; }
#map{ margin: 0; padding: 0; }
#leaderboard { 
	color: #fff;
	font-family: arial;
	height: auto; 
	overflow: hidden;
	padding: 5px;
	position: absolute;
	right: 1px;
	text-align: center;
	top: 1px;
	width: 300px;
	z-index: 40;
}

#leaderboardWidgets {
	color: #888;
	margin: 0 auto;
	text-align: left;
	padding:20px;
}

#refreshIN {
    position:absolute;left:5px;bottom:5px; z-index:9999;
}

.place-outer{
	width: 280px;
}
.place-inner{
	width: 260px;
	background: #ECEACE;
	border-radius: 10px;
	padding: 0 0 10px 10px;
	min-height: 50px;
	-moz-border-radius: 10px;
	-moz-box-shadow:    3px 3px 5px 0 black;
	-webkit-box-shadow: 3px 3px 5px 0 black;
	box-shadow:         3px 3px 5px 0 black;
}
.place-gauge{
	float: left;
	padding: 10px 10px;
	margin: -30px;
	text-align:center;
    width:150px; 
    height:150px;
}
.place-title{
	font-size: 20px;
	padding: 7px 10px 10px 40px;
	margin: 0 0 10px 0;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-weight: bold;
	text-align:right;
}
.place-text{
	font-family: arial;
	font-size:12px;
	color:#000000;
}
.place0 {
	background:#0000FF ;
	color:#FFFFFF ;
}
.place1 {
	background:#D50000 ;
	color:#FFFFFF ;
}
.place2 {
	background:#008000 ;
	color:#FFFFFF ;
}