.widgetContainer {
    position:absolute;
    top:0;
    right:30px;
    width:400px;
    height:100%;
    background:transparent;
    z-index:50;
	padding-right: 0px;
	padding-top: 10px;
}

.widgetFrame {
	background: transparent;
	position: absolute;
	z-index: 50;
	margin: 0;
	opacity: 0;
}

.widgetBox {
	position: absolute;
	overflow: hidden;
    color: white;
    border: 1px solid white;
	background: url("images/111_70.png") repeat;
    /*background-color: #111;
	opacity: 0.85;
	filter:alpha(opacity=85);*/
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 5px 5px 5px #333;
    border-radius: 5px;
}

.widgetBadgedPane {
	margin-left: 20px;
	padding-left: 25px;
}

.widgetBadge {
	position: absolute;
	left: 0px;
	top: 10px;
	width: 48px;
	height: 48px;
    z-index: 51;
	background-repeat: no-repeat;
}

.widgetContent {
}

.widgetHolder {
	overflow: auto;
	margin: 0;
	padding: 0;	
}

.widgetTitle {
	font-weight: bold;
	font-size: 10pt;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 2px 0px;
}

.widgetContainerControls {
	position: absolute;
	top: 10px;
	right: 0px;
	width: 20px;
	padding: 2px 0px;
	z-index: 52
}

.widgetButton {
	width:20px;
	height: 20px;
	background-repeat: no-repeat;
}

.wbHide {
	background-image: url(../../assets/images/widget/w_collapse.png);
}

.wbShow {
	background-image: url(../../assets/images/widget/w_expand.png);
}

.wbUp {
	background-image: url(../../assets/images/widget/w_up.png);
}

.wbDown {
	background-image: url(../../assets/images/widget/w_down.png);
}

.wbClose {
	background-image: url(../../assets/images/widget/w_close.png);
}

.wbMinimize {
	background-image: url(../../assets/images/widget/w_min.png);
}

.wbPin {
	background-image: url(../../assets/images/widget/w_pin.png);
}

.widgetPanel {
	background: url("images/000_70.png") repeat;
    /*background-color: black;*/
    margin: 2px 0 2px 0;
    padding: 4px;
    border-top: 1px solid #666666;
    font-size: 8pt;
    font-weight: bold;
    -o-border-radius: 3px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.controllerContainer {
    position:absolute;
    top:20px;
    left:20px;
    width:475px;
    z-index:50;
}

.controllerBox {
	padding: 5px 8px 15px 8px;
	width: 100%;
}

.controllerIcon {
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: center center;
}

.controllerTitleBox {
	position: absolute;
	left: 60px;
	top: 10px;
	width: 425px;
}

.controllerTitle {
	font-size: larger;
	font-weight: bold;
	border-bottom: 1px solid #46F;
}

.controllerMenuBox {
	position: absolute;
	top: 50px;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
}
.controllerMenuBoxNoBanner {
	top: 0px;
}

.menuIcon {
	position: absolute;
	width: 40px;
	height: 40px;
	margin-left: -20px;
}

.menuDropDown {
	visibility: hidden;
	overflow: hidden;
	position: absolute;
	width: 150px;
	top: 25px;
	padding-top: 20px;
}

.menuLabel {
	font-weight: bold;
	color: white;
	text-align:	center;
	margin-bottom: 4px;
}

.menuBox {
	font-weight: bold;
	position: relative;
}

.menuItem {
	border-bottom: 1px solid #999;
	padding: 4px 2px 4px 25px;
	font-size: 9pt;
	background-repeat: no-repeat;
	background-position: left center;
	cursor: pointer;
}

.menuItem:hover {
	background-color: #666;*/
}

.widgetTable {
	border-spacing: 4px;
}

img.loader {
	height: 16px;
	width: 16px;
}

.resultsPane {
	height: 100px;
	overflow-y: auto;
}

.resultsMsg {
	vertical-align: middle;
	padding-left: 10px;
}

.rowHeader {
	text-align: right;
	font-weight: bold;
	padding-right: 4px;
}

.resultItem {
	color: white;
    background-color: #333;
    margin: 2px 2px 2px 0px;
    padding: 4px;
    border: 0;
    font-size: 8pt;
    font-weight: normal;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
	padding-left: 32px;
	background-repeat: no-repeat;
	background-position: left center;
	cursor: pointer;
}

.resultItem p {
	margin: 0;
}

.alt {
    background-color: #444;
}

.resultItem:hover {
	background-color: #555;
}

.resultAction {
	float: right;
	width: 20px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: center center;
}

.highlight {
	position: absolute;
	width: 80px;
	height: 80px;
	margin-left: -40px;
	margin-top: -40px;
	z-index:39;
	background-repeat: no-repeat;
	background-position: center center;
	top: 400px;
	left: 500px;
}

.infoPopupBody {
	position: absolute;
	width: 200px;
	margin-left: 30px;
	margin-right: 30px;
	z-index: 40;
	font-size: 8pt;
}

.infoPopupBody p {
	margin: 0;
}

.infoPopupLeader {
	background-color: white;
	position:absolute;
	border: 0;
	padding: 0;
	height: 1px;
	width: 29px;
	margin-left: -30px;
	margin-right: -30px;
	border-bottom: 1px solid black;
}

.infoPopupButton {
	position: absolute;
	right: -22px;
}

.linkIcon {
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(../../assets/images/widget/w_link.png);
	height: 16px;
	width: 16px;
	cursor: pointer;
}

.liveMapsScrollPanel
{
	overflow: auto;
	font-weight: normal;
	margin-top: 8px;
}

.tocLayerIcon {
    width: 16px;
    height: 16px;
    vertical-align: top;
    background-repeat: no-repeat;
    background-image: url(../../assets/images/widget/w_layer.png);
}

.tocLayerUncheckedIcon {
    width: 16px;
    height: 16px;
    vertical-align: top;
    background-repeat: no-repeat;
    background-image: url(../../assets/images/widget/w_layer_unchecked.png);
}

.tocLayerCheckedIcon {
    width: 16px;
    height: 16px;
    vertical-align: top;
    background-repeat: no-repeat;
    background-image: url(../../assets/images/widget/w_layer_checked.png);
}

.tocLayer {
    color: darkblue;
    font-weight: bold;
    vertical-align: top;
}

.tocTiledSubLayer {
    color: black;
    vertical-align: top;
}

.tocDynamicSubLayer {
    color: darkblue;
    vertical-align: top;
}

.toolbutton {
	cursor: pointer;
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: center center;
}

a:active {
	color: #EE0;
}

a:link {
	color: #FF0;
}

a:visited {
	color: #EE3;
}
